<form>
  <div class="buttons"></div>
  <button
    id="start"
    mat-flat-button
    color="primary"
    (click)="onStartClick($event)"
    [disabled]="isRunning"
  >
    Start FizzBuzz Fun
  </button>

  <button
    id="stop"
    mat-flat-button
    color="primary"
    (click)="onStopClick($event)"
    [disabled]="!stopEnabled"
  >
    Stop
  </button>

  <mat-form-field appearance="fill">
    <input matInput placeholder="..." (input)="onInputChange($event)" />
    <mat-icon matSuffix>edit</mat-icon>
    <mat-hint>Enter 'stop' to enable the stop button</mat-hint>
  </mat-form-field>
</form>

<div class="numbers">
  @for ( number of numbers; track $index ){
  <div class="number">{{ number }}</div>
  }
</div>
